h1{color:Green;}
h1{Background-color:#e6fff5;}
body{background-color:lightblue;}
body{font-family:calibri;}
.logo1{  
background-image: url(logo1.png);
}
.logo3{
background-image: url(logo3.png);
width:30%;
margin-top: 90px;
margin-right: 70px;
}

.button1 {
    font-size: 20px;
    color:black;
    background:#00ff80;
    padding: 5px;
    border-radius: 10px;
 }       
.button2 {
    font-size: 20px;
    color:black;
    background:#00ff80;
    padding: 5px;
    border-radius: 10px;
 }  
.button3 {
    font-size: 20px;
    color:black;
    background:#00ff80;
    padding: 5px;
    border-radius: 10px;
 }            
